<link rel="import" href="topic.html">
<template>
    
    <style>
        #topics {
            padding:0;
            margin:0;
            list-style:none;
            width:100%;
            height:100%;
            -webkit-transform: translate3D(0, 0, 0);
        }
        
        #topics h1 {
            position:absolute;
            left:10%;
            margin:0;
            top:5%;
            font-size:3.5vh;
        }
    
        #topics > li {
            position:absolute;
            -webkit-transform: translate3D(0, 0, 0);
            -webkit-transition: -webkit-transform 320ms ease-out;
            width:100%;
            height:100%;
        }
        
        #topics > li:nth-child(1) {-webkit-transform: translate3d(-200%,0px,0);}
        #topics > li:nth-child(2) {-webkit-transform: translate3d(-100%,0px,0);}
        #topics > li:nth-child(4) {-webkit-transform: translate3d(100%,0px,0);}
        #topics > li:nth-child(5) {-webkit-transform: translate3d(200%,0px,0);}
        
    </style>
    <ul id="topics">           
        <li>
            <h1></h1>
            <x-topic></x-topic>
        </li>
        <li>
            <h1></h1>
            <x-topic></x-topic>
        </li>
        <li>
            <h1></h1>
            <x-topic></x-topic>
        </li>
        <li>
            <h1></h1>
            <x-topic></x-topic>
        </li>
        <li>
            <h1></h1>
            <x-topic></x-topic>
        </li>
    </ul>
</template>

<script>
    'use strict';

    var importDoc = document.currentScript.ownerDocument;
    var proto = Object.create(HTMLElement.prototype);
    
    proto.createdCallback = function() {
        // create shadow dom
        this.createShadowRoot().appendChild(
            document.importNode(importDoc.querySelector('template').content, true)
        );
        
        // private variables
        let node = this.shadowRoot.querySelector("ul");
        let childrenLength = node.children.length-1;
        let offset = 0;
        let data = [];
        let timer = setTimeout(function(){},9999);
        
        // bind data 
        this.bindData = function(bindData) {
            data = bindData;
            for ( var i=0; i<=childrenLength; i++ )
              this.updateElement(node.children.item(i), data[i]);
        };

        // move topics
        this.move = function(direction) {
            window.clearTimeout(timer);
            // set the new data offset
            offset += direction;
            if (offset === -1) offset = data.length-1;
            
            // round robin the dom nodes
            if (direction === -1) {
                node.insertBefore(node.lastElementChild, node.firstElementChild);
                this.updateElement(node.firstElementChild, data[(offset)%data.length]);
            }
            
            if (direction === 1) {
                node.appendChild(node.firstElementChild);
                this.updateElement(node.lastElementChild, data[(offset+childrenLength)%data.length]);
            }
        };
        
        // default update function
        this.updateElement = function update(element, value){ console.log(value); }
        
        node.firstElementChild.addEventListener("webkitTransitionEnd", function(){
            timer = setTimeout(function(){
                console.log("focus")
            },1000)
        })
        
    };
    
    window.Topics = document.registerElement('x-topics', {prototype: proto});
</script>