<template>
    <style>

        ul.topic {
            display: flex;
            flex-flow: column wrap;
            position:absolute;
            padding:0;
            margin:0;
            width:80%;
            height:80%;
            top:10%;
            left:10%;
            overflow:hidden;
        }

        .topic button {
            background-color:transparent;
            border:none;
            width:100%;
            height:100%;
            color:white;
            border-top:15px solid transparent
        }        
        
        .topic button.focus {
            border-color:red;
        }
        
        .topic li {
            font-family:helvetica, sans-serif;
            list-style:none;
            width:50%;
            background-color: rgba(0, 0, 0, 0.2);
            font-size:2.8vh;
            overflow:hidden;
        }
        
        .topic .poster {
            height:35%;
            background-color: rgba(255, 255, 255, 0.2);
            background-repeat: no-repeat;
            background-size: cover;
            
        }
        
        .topic .poster span {
            position:relative;
            display:block;
            text-align:middle;
            padding:2%;
        }

        .topic .image {
            height:45%;
            flex-grow:1;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        .topic .image span {
            position:relative;
            margin:2%;
            font-size:300%;
            text-transform: uppercase;
        }
        
        .topic .banner {
            height:20%;
            background-color: rgba(0, 0, 0, 0.5);
        }
        
        .topic .banner span {
            display:block;
            padding:2%;
        }

    </style>
    <ul class="topic">           
        <li><button><span></span></button></li>
        <li><button><span></span></button></li>
        <li><button><span></span></button></li>
        <li><button><span></span></button></li>
        <li><button><span></span></button></li>
        <li><button><span></span></button></li>
    </ul>
</template>

<script>
    'use strict';

    let importDoc2 = document.currentScript.ownerDocument;
    let proto2 = Object.create(HTMLElement.prototype);

    proto2.createdCallback = function() {
        // create shadow dom
        this.appendChild(
            document.importNode(importDoc2.querySelector('template').content, true)
        );
        
         // private variables
        let node = this.querySelector("ul");
        let childrenLength = node.children.length-1;
        let data = []
        
        // bind data 
        this.bindData = function(bindData) {
            data = bindData;
            for ( var i=0; i<=childrenLength; i++ ) {
                if (i < data.length) this.updateElement(node.children.item(i), data[i]);
                else node.children.item(i).style.display = "none"
            }
        };

        // default update function
        this.updateElement = function update(element, value){ console.log(value); }
    };
    
    window.Topic = document.registerElement('x-topic', {prototype: proto2});
</script>